body {
    font-family:  "Free Mono", "Monospace", monospace;
    margin-left: 0;
    font-weight: bold;

    /* Light background */
    border-color: #eee8d5;
    border-style: solid;
    border-width: 0 0 0 5em;
    padding-left: 1em;
}
